body{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow:auto;
  margin: 0;
  background-color: #3b3a3c;
  /* background-color: #f2f2f2; */
}
small {
  font-family: calibri, sans serif;
  font-size: 15pt;
  color: rgba(255, 255, 255, 0.76) !important;
}
.center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
}


.axis path, .axis line {
    fill: none;
    stroke: rgba(255, 255, 255, 0.76);

}

.axis text {
   font-family: calibri, sans serif;
   font-size: 10pt;
   fill:  rgba(255, 255, 255, 0.76);
}

.btn {
  width: 100px;
  font-family: calibri, sans serif;
  padding: 10px;
  border: solid 1px black;
  color: white;
}

#tension {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: rgb(237, 235, 235);
}

#new {
  background-color: purple;
}

#old {
  background-color: red;
}
#myChart{
  display:inline-block;
  width: 320px;
  height: 320;
}
#the_chart{
  display:inline-block;
}

.tick line {
  opacity: 0.2;
}

#chordwoverlay{
  position: fixed; /* Sit on top of the page content */
   display: none; /* Hidden by default */
   width: 100%; /* Full width (cover the whole page) */
   height: 100%; /* Full height (cover the whole page) */
   top: -100;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,0.5); /* Black background with opacity */
   z-index: 2; /* Specify a stack order in case you're using a different order for other
*/}

line#average_age {
    stroke-width: 1;
    stroke-dasharray: 6 4;
}

/*==========================Filters==========================*/
#filters {
  position: absolute;
  height: 92%;
  width: 25%;
  right: 0;
  top: -100;
  background-color: rgba(0, 115, 153, 0.5);
}
#filters h1{
  padding-left: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:rgb(237, 238, 236);
}

#filters h2{
  padding-left: 30px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  color:rgb(237, 238, 236);
}




/*==========================Radio botton==========================*/

/* The container */
.container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:rgb(237, 238, 236);
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {

  background-color: #e7a26a;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*==========================Drop Down==========================*/


.select-style {
    margin: 18px;
    border: 1px solid #ccc;
    width: 120px;
    height: 30%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}





/*==========================Search Bar==========================*/



.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 200px;
    height: 10px;
    padding: 10px;
    margin: -35px auto 0 auto;
    background-color: #454747;
    border-radius: 20px;
    box-shadow: 0 10px 20px #747677, 0 0 0 8px rgba(255, 255, 255, 0.5);
}

form
{
    height: 20px;
}

input[type="text"]
{
    margin-top: -10px;
    width: 80%;
    height: 25px;
    font-size: 20px;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: #ffffff;
}

#s-cover
{
    width: 1px;
    padding-left: 8.7px;
}

button
{
    position: relative;
    display: block;
    width: 10px;
    height: 15px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -13px;
    left: -15px;
    width: 10px;
    height: 10px;
    margin-top: 0;
    border-width: 6px;
    border: 6px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: -1px;
    left: 3px;
    display: block;
    width: 10px;
    height: 15px;
    background-color: transparent;
    border-radius: 3px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 3.5px;
    background-color: #fff;
    border-radius: 3px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -6px;
    width: 16.3px;
    height: 3.5px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 14px;
    width: 6.3px;
    margin-top: -19px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 3.5px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -2px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: 15px;
    width: 10px;
    background-color: #fff;
}

/*==========================Slider==========================*/


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #fefefe;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #74acea;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #74acea;
  cursor: pointer;
}
/*==========================Scatter Plot==========================*/

g.brush>resize{
    display: none;
}

/*==========================Search Bar==========================*/
/* .topnav {
  overflow: hidden;
  background-color: #e9e9e9;
} */

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}
/*========================= Bar Chart==========================*/

/* rect {
  fill: transparent;
  shape-rendering: crispEdges;
} */
/* 
bar_chart text {

  pointer-events: none;
} */


/*======================== World Map ===========================*/

.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
  line-height: 1.5;
  font-weight: 400;
  font-family:"avenir next", Arial, sans-serif;
  padding: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: #FFA500;
  border-radius: 1px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/*    text{
  pointer-events:none;
}*/

.details{
  color:white;
}
/* #limit {
    max-width: 500px;
} */

#categories {
  background-color: #484749 ;
  border-style: solid;
  border-color:#706f70;

}
/* .tooltip{
  text-decoration: underline;
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
} */
div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#worldmap {
  overflow: hidden
}

#worldmap svg:active {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/*========================Sankey Diagram===========================*/

#sankey_diagram .node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

#sankey_diagram .node text {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: rgb(237, 235, 235);
  /* pointer-events: none; */
  /* text-shadow: 0 1px 0 #fff; */
}

#sankey_diagram .link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

#sankey_diagram .link:hover {
  stroke-opacity: .5;
}


/*======================== New Chord Chart=======================*/
#chord tbody {
  font: 300 36px "Helvetica Neue";
  height: 640px;
  /*margin: 80px 160px 80px 160px;
  overflow: hidden;*/
  position: relative;
}

#chord a:link, a:visited {
  color: #777;
  text-decoration: none;
}

#chord a:hover {
  color: #666;
}

#chord blockquote {
  margin: 0;
}

#chord blockquote:before {
  content: "“";
  /* position: absolute; */
  left: -.4em;
}

#chord blockquote:after {
  content: "”";
  /* position: absolute; */
}


#chord .invert {
  background: #1f1f1f;
  color: #dcdccc;
}

#chord .invert h2, .invert h3 {
  color: #7f9f7f;
}

#chord .string, .regexp {
  color: #f39;
}

#chord .keyword {
  color: #00c;
}

#chord .comment {
  color: #777;
  font-style: oblique;
}

#chord .number {
  color: #369;
}

#chord .class, .special {
  color: #1181B8;
}

#chord body > svg {
  /* position: absolute; */
  top: 0px;
  left: -160px;
}

#chord path.arc {
  cursor: move;
  fill: rgba(255, 255, 255, 0.01);
}

#chord .node {
  fill: #f2f2f2;

  font: 4px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#chord .node:hover {
  font-size: 15px;

  /* fill: #0d0e0e; */
}

#chord .link {
  fill: none;
  stroke: #74acea;
  stroke-opacity: .7;
  pointer-events: none;
}

#chord .link.source, .link.target {

  stroke-opacity: 1;
  stroke-width: 2px;
}

#chord .node.target {
  font-size: 15px;

  /* fill: #d62728 ; /* !important */ */
}

#chord .link.source {
  stroke-opacity: 1;
  stroke: #d62728;
}

#chord .node.source {
  /* background-color: #000; */

  font-size: 15px;
  /* fill: #2ca02c; */
}

#chord .link.target {
  stroke-opacity: 1;

  stroke: #2ca02c;
}
